        body{font-family: Ariel, Helvetica, sans-serif;  }
        
.Todo{   
    padding-left:200px ;
    width:1000px; }

.footer{background: linear-gradient(#0099CC, #009999);
padding: 10px;
text-align: center;}

.topnav{
    overflow: hidden;
    background: linear-gradient(#0099CC, #009999);
}
.topnav a{float: left;
display: block;
color: #f2f2f2;
padding: 14px 16px;
text-decoration: none;}

.topnav{text-align: center;
    font-family: Congenial Black, sans-serif ;}

.topnav a:hover{background-color: white;
color: black;}
text-align: center;}